h1{
   text-align: center;
    
}
button{
    width:250px;
    height: 50px;
    border-style: solid;
    cursor: pointer;
    margin:10px;
    border-radius: 10px;
    font-size: 30px;
    
}

.score-box{
    height: 64px;
    width: 35px;
    border-style: solid;
    text-align: center;
    font-size: 55px;
    margin: 15px;
    color: green;
}
.flex-box{
    display: flex;
    justify-content: center;
   
}
#declare{
    text-align: center;
    font-size: 41px;

}
@keyframes up-down{
    0% {transform:rotate(0deg);}
    17%{transform:rotate(-90deg);} 
    34% {transform:rotate(0deg);}
    51%{transform:rotate(-90deg);} 
    68% {transform:rotate(0deg);}
    85%{transform:rotate(-90deg);} 
    100%{transform:rotate(-90deg);} 
}
@keyframes up-down-reverse{
    0% {transform:rotate(0deg);}
    17%{transform:rotate(90deg);} 
    34% {transform:rotate(0deg);}
    51%{transform:rotate(90deg);} 
    68% {transform:rotate(0deg);}
    85%{transform:rotate(90deg);} 
    100%{transform:rotate(90deg);} 
}
.arm{
    animation-name:up-down;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;     
}
.arm-reverse{
    animation-name:up-down-reverse;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    margin-right:210px;
    
}